<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Express Lab</title>
</head>
<body>
    <h1>Marvel Super Heros</h1>
    <% if (error) { %>
      <h2><%= error %></h2>
   <% } %>
   <ul>
     <% marvel.forEach(marvel => { %>
       <li>
         <%= marvel.text%>
        . 
        <%= marvel.done ? "true" : "false" %> 
       </li>
    <% }); %>
   </ul>
</body>
</html>